In [28]:
import pandas as pd
import numpy as np

In [5]:
#Working with Toy Dataset
#DATAFRAME
df=pd.read_csv("./IRIS.csv")

In [6]:
df.shape

(150, 5)

In [10]:
df.head()# first

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [11]:
df.tail() #last five

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [12]:
type(df)

pandas.core.frame.DataFrame

In [17]:
#convertDf-->numpy
iris=pd.read_csv("./IRIS.csv").values

In [18]:
iris[:,:-1]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3.0, 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5.0, 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5.0, 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3.0, 1.4, 0.1],
       [4.3, 3.0, 1.1, 0.1],
       [5.8, 4.0, 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1.0, 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5.0, 3.0, 1.6, 0.2],
       [5.0, 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.0, 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3.0, 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5.0, 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5.0, 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3.0, 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5.0, 3.3, 1.4, 0.2],
       [7.0, 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4.0, 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1.0],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5.0, 2.0, 3.5, 1.0],
       [5.9, 3.0, 4.2, 1.5],
       [6.0, 2.2, 4.0, 1.0],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3.0, 4.5, 1.5],
       [5.8, 2.7, 4.1, 1.0],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4.0, 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3.0, 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3.0, 5.0, 1.7],
       [6.0, 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1.0],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1.0],
       [5.8, 2.7, 3.9, 1.2],
       [6.0, 2.7, 5.1, 1.6],
       [5.4, 3.0, 4.5, 1.5],
       [6.0, 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3.0, 4.1, 1.3],
       [5.5, 2.5, 4.0, 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3.0, 4.6, 1.4],
       [5.8, 2.6, 4.0, 1.2],
       [5.0, 2.3, 3.3, 1.0],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3.0, 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3.0, 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6.0, 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3.0, 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3.0, 5.8, 2.2],
       [7.6, 3.0, 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2.0],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3.0, 5.5, 2.1],
       [5.7, 2.5, 5.0, 2.0],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3.0, 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6.0, 2.2, 5.0, 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2.0],
       [7.7, 2.8, 6.7, 2.0],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6.0, 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3.0, 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3.0, 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2.0],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3.0, 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6.0, 3.0, 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3.0, 5.2, 2.3],
       [6.3, 2.5, 5.0, 1.9],
       [6.5, 3.0, 5.2, 2.0],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3.0, 5.1, 1.8]], dtype=object)

In [19]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [25]:
df["species"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [26]:
type(df['species'])

pandas.core.series.Series

In [22]:
df[["sepal_length","sepal_width"]]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [37]:
c=pd.Series([1,10,20,30],index="a b c d".split())

a     1
b    10
c    20
d    30
dtype: int64

In [29]:
arr=np.random.randint(1,100,size=(75,3))

In [32]:
pd.DataFrame(arr)

     0   1   2
0   24   8  66
1    6  74  96
2   41  57  88
3    3  26  61
4   32  28  11
..  ..  ..  ..
70  91  95  93
71  45  94  85
72   2   2  56
73  61  81  14
74  12  70  66

[75 rows x 3 columns]

In [ ]:
#how to create data frame using dictionaries

In [44]:
#df[0] it try to aceess column
print(df.loc[0:5])
df.loc[145] #particular index

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

sepal_length               6.7
sepal_width                  3
petal_length               5.2
petal_width                2.3
species         Iris-virginica
Name: 145, dtype: object

In [41]:
df.iloc[1]

sepal_length            4.9
sepal_width               3
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 1, dtype: object

In [42]:
df.iloc[:5]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [45]:
#function
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [49]:
df["total value"]=df["sepal_length"]+df["sepal_width"]+df["petal_length"]+df["petal_width"]

In [50]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,total value
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,17.2
146,6.3,2.5,5.0,1.9,Iris-virginica,15.7
147,6.5,3.0,5.2,2.0,Iris-virginica,16.7
148,6.2,3.4,5.4,2.3,Iris-virginica,17.3
149,5.9,3.0,5.1,1.8,Iris-virginica,15.8

In [52]:
df.drop(columns=["total value"],inplace=True)
#df.drop(columns=["total value"],inplace=True) by default inplace is FALSE

In [54]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [55]:
df["species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [56]:
df["species"].nunique()

3

In [58]:
df["species"].value_counts()

pandas.core.series.Series

In [60]:
#extract all rows where u hAVE SETOSA FLOWER
#masking
df[df["species"]=="Iris-setosa"]

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [70]:
#extract all rows sepal length is 5.3
df[(df["sepal_length"]< 5.3)  & (df["sepal_width"] >3.5 )]

    sepal_length  sepal_width  petal_length  petal_width      species
4            5.0          3.6           1.4          0.2  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa

In [86]:
rows=np.random.randint(1,150,100)
col=np.random.randint(0,4,100)

In [87]:
rows

array([  8,  40,  54,  56,  68, 114, 116,  95, 122,  80,  46,  98, 145,
       130, 114, 102, 148,  17,  84,  82,  90, 119,  76,  69,  35,  51,
        69,  19, 112,  73,  32,  10, 107, 146,  11, 118,  51,  95, 120,
        75,  73, 101,  86, 106,  41,  96,  43,  10,  26,  28, 103, 145,
        77,  52, 109,   9, 148,  66,  59, 135, 101, 116,   3,  49,  67,
        85,  45,  96,  24,  76,  81,  22, 114,  11,  59,  86,  33,  10,
        54,  74,  69, 130,  57, 140,  39,  96,  47,  19,  62,  64,  46,
        85, 128, 132,  85, 100,  91,  41, 141,  57])

In [88]:
col

array([1, 2, 0, 2, 2, 3, 3, 0, 2, 2, 3, 2, 2, 0, 0, 1, 2, 2, 1, 3, 2, 3,
       2, 1, 0, 1, 3, 1, 1, 1, 0, 3, 3, 0, 2, 0, 3, 2, 3, 2, 2, 3, 0, 0,
       2, 3, 3, 3, 3, 1, 1, 1, 3, 2, 0, 3, 2, 2, 0, 1, 0, 3, 1, 1, 3, 1,
       3, 3, 1, 2, 1, 1, 1, 3, 2, 0, 3, 3, 2, 3, 3, 0, 2, 0, 2, 2, 0, 1,
       3, 1, 1, 3, 1, 0, 0, 0, 0, 3, 3, 0])

In [89]:
#manually entering nan val
for i in range(100):
    df.iloc[rows[i],col[i]]=np.nan

In [90]:
df.[rows[0]col[1]]

SyntaxError: invalid syntax (<ipython-input-90-4a88f8057121>, line 1)

In [91]:
df[:50]

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          NaN           1.5          0.2  Iris-setosa
4            5.0          NaN           1.4          0.2  Iris-setosa
5            5.4          NaN           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          NaN  Iris-setosa
7            5.0          NaN           1.5          0.2  Iris-setosa
8            4.4          NaN           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          NaN  Iris-setosa
10           5.4          3.7           1.5          NaN  Iris-setosa
11           4.8          3.4           NaN          NaN  Iris-setosa
12           4.8          3.0           1.4          NaN  Iris-setosa
13           4.3          NaN           1.1          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          NaN           NaN          NaN  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          NaN           NaN          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          NaN           1.0          0.2  Iris-setosa
23           5.1          3.3           NaN          NaN  Iris-setosa
24           4.8          NaN           NaN          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          NaN  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          NaN           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           NaN          0.4  Iris-setosa
32           NaN          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          NaN  Iris-setosa
34           4.9          3.1           1.5          NaN  Iris-setosa
35           NaN          3.2           1.2          0.2  Iris-setosa
36           5.5          NaN           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          NaN  Iris-setosa
39           5.1          3.4           NaN          0.2  Iris-setosa
40           5.0          3.5           NaN          NaN  Iris-setosa
41           4.5          2.3           NaN          NaN  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          NaN           NaN          NaN  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          NaN  Iris-setosa
46           5.1          NaN           1.6          NaN  Iris-setosa
47           NaN          NaN           1.4          NaN  Iris-setosa
48           5.3          NaN           1.5          0.2  Iris-setosa
49           5.0          NaN           NaN          0.2  Iris-setosa

In [93]:
df.isna().sum()

sepal_length    20
sepal_width     53
petal_length    40
petal_width     51
species          0
dtype: int64

# dealing with nan values
- remove nan
- remove col
- Impute nan val(mean)

In [94]:
df["sepal_length"].mean()

5.816153846153846

In [99]:
df["sepal_length"].fillna(value="ABC")

0      5.1
1      4.9
2      4.7
3      4.6
4        5
      ...
145    6.7
146    ABC
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: object